.container{
    display: flex;
    flex-direction: column;
    padding: auto;
}
.heading{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: coral;
}
.tabs {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
.tab {
    padding: 0px 2rem;
    font-size: large;
    font-weight: 700;
}
.tab :active{
    border-bottom: 1px solid yellow;
}
.movieContainer{
    display: flex;
    flex-basis: 33%;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: center;
}
.movieItem {
    width: 100%;
  }
  .borderBottom {
    border-bottom: 3px solid coral; 
  }
  